.back-image{
  background-image: url("https://www.xtrafondos.com/wallpapers/resized/star-wars-logo-3654.jpg?s=large");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 500px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.back-image:hover {
  webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -o-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transform: scale(1.10);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
